<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="./css/app.css">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <title>Hello from Electron renderer!</title>
</head>

<body>
  <div class="container">
    <section class="section">
        <div class="field">
            <label class="label">Appliaction id</label>
            <div class="control">
              <input class="input" type="text" placeholder="4tff43f4f444rdaDaf">
            </div>
          </div>
          <div class="field">
            <label class="label">Appliaction secret</label>
            <div class="control">
              <input class="input" type="text" placeholder="4tff43f4f444rdaDaf">
            </div>
          </div>
          
        <div class="field level">
            <div class="control level-left">
                <button class="button is-link is-light">Cancel</button>
              </div>
  
            <div class="control level-right">
              <button class="button is-link">Confirm</button>
            </div>
          </div>
      </div>
    </section>

</body>

</html>