<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="./css/app.css">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <title>Hello from Electron renderer!</title>
</head>

<body>
  <div class="container">
    <section class="section">
        <div class="menu">
            <p class="menu-label">
                Pick a template
              </p>
              <ul class="menu-list">
                <li><a>template 1</a></li>
                <li><a>template 2</a></li>
              </ul>
      </div>
    </section>

</body>

</html>