<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="./css/app.css">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <title>Hello from Electron renderer!</title>
</head>

<body class="p-4">
  <div class="container">
    <div class="columns">

      <div class="column is-one-fifth">

        <article class="media mb-2">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="./res/placeholder.jpg">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Not logged in</strong>
                <br>
              </p>
              <a class="is-small">Logout</a>
            </div>
          </div>
        </article>

        <aside class="menu">

          <ul class="menu-list">
            <li><a>Corporation</a></li>
            <li><a>Mail templates</a></li>
          </ul>
        </aside>

      </div>
      <div class="column">

        <nav class="navbar">
          <div class="navbar-menu">
            <div class="navbar-start">
              <div class="buttons">
                <button class="button is-success">Save</button>
                <button class="button is-danger">Discard</button>
              </div>
            </div>
          </div>
        </nav>

        <div class="box">
          <textarea class="textarea" placeholder="10 lines of textarea" rows="10"></textarea>
        </div>
      </div>
    </div>
  </div>
</body>
</html>