<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="./css/app.css">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
</head>

<body class="p-4">
  <div class="container">
    <div class="box">

      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input id="title" class="input" type="text" placeholder="mail subject"> 
        </div>
      </div>
      
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <textarea id="body" class="textarea" placeholder="mail body" rows="10"></textarea>
        </div>
      </div>

      <div class="control">
        <button id="save" class="button is-primary">Save</button>
      </div>

    </div>
    </div>
</div>
</body>
<script src="../controller/Templates/Editor/renderTemplatesEditor.js"></script>
</html>