<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
  <link rel="stylesheet" href="./css/app.css">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
</head>

<body class="p-4">
  <div class="container">
    <div class="columns">

      <div class="column is-one-fifth">

        <article class="media mb-2">
          <figure class="media-left">
            <p class="image is-64x64">
              <img id="character-picture" src="./res/placeholder.jpg">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong id="character-name">Not logged in</strong>
                <br>
              </p>
              <a class="is-small">Logout</a>
            </div>
          </div>
        </article>

        <aside class="menu">

          <ul class="menu-list">
            <li><a>Corporation</a></li>
            <li><a id="open-templates-list">Mail templates</a></li>
          </ul>
        </aside>

      </div>
      <div class="column">

        <nav class="navbar">
          <div class="navbar-menu">
            <div class="navbar-start">

              <div class="field is-horizontal">
                <div class="field-label">
                  <label class="label">Filter by</label>
                </div>
                <div class="control">
                  <div class="select is-small">
                    <select>
                      <option>Select dropdown</option>
                      <option>With options</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
        
            <div class="navbar-end">
              <div class="field is-horizontal">
                <div class="field-label">
                  <label class="label">Criteria</label>
                </div>
                <div class="control">
                  <input class="input is-small" type="date" data-display-mode="default" data-is-range="true" data-close-on-select="false">
                </div>
              </div>
              
            </div>
          </div>
        </nav>

        <div class="box">

          <div class="field has-addons">
            <div class="control">
              <h2 class="subtitle mr-3">List of members</h2>
            </div>
            <div class="control">
              <button id="send-mail-button" class="button is-hidden is-primary">Send</button>
            </div>
          </div>
          
          <table id="member-table" class="table is-hidden">
            <thead>
              <tr>
                <th><input id="select-all" type="checkbox"></th>
                <th>Character name</th>
                <th>Roles</th>
                <th>Last online</th>
                <th>Joined on</th>
              </tr>
            </thead>
            <tbody id="member-table-body">

            </tbody>
          </table>
  
        </div>
        <article id="warning-message" class="message is-warning is-hidden">
          <div id="warning-message-body" class="message-body">
          </div>
        </article>
      </div>

    </div>
  </div>
</body>
<script src="../node_modules/bulma-calendar/dist/js/bulma-calendar.min.js"></script>
<script src="./js/pickDate.js"></script>
<script src="../templating.js"></script>
<script src="../controller/GetDashboard/renderDashboard.js"></script>
</html>