<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="./css/app.css">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <title>Hello from Electron renderer!</title>
</head>

<body>
  <div class="container">
    <div class="columns">

      <div class="column is-one-fifth">

        <article class="media mb-2">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="./res/placeholder.jpg">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Not logged in</strong>
                <br>
              </p>
              <a class="is-small">Logout</a>
            </div>
          </div>
        </article>

        <aside class="menu">

          <ul class="menu-list">
            <li><a>Corporation</a></li>
            <li><a>Mail templates</a></li>
          </ul>
        </aside>

      </div>
      <div class="column">

        <nav class="navbar">
          <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
              <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>
        
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
        
          <div class="navbar-menu">
            <div class="navbar-start">

            </div>
        
            <div class="navbar-end">

            </div>
          </div>
        </nav>


        <table class="table">
          <thead>
            <tr>
              <th>Character name</th>
              <th>Roles</th>
              <th>Last online</th>
              <th>Joined on</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>placeholder name</td>
              <td>initiate, member</td>
              <td>2023-04-19 16:33:18</td>
              <td>2021-08-06 10:01:17</td>
            </tr>
            <tr>
              <td>placeholder name</td>
              <td>initiate, member</td>
              <td>2023-04-19 16:33:18</td>
              <td>2021-08-06 10:01:17</td>
            </tr>
            <tr>
              <td>placeholder name</td>
              <td>initiate, member</td>
              <td>2023-04-19 16:33:18</td>
              <td>2021-08-06 10:01:17</td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>
</body>

</html>