<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
    <link rel="stylesheet" href="./css/app.css">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
</head>

<body class="p-4">
    <div class="container">
        <div class="card">
            <header class="card-header">
                <p id="title" class="card-header-title"> </p>
            </header>
                <div id="body" class="content p-5"> </div>
            </div>
        </div>
    </div>
</body>
<script src="../templating.js"></script>
<script src="../controller/Templates/Preview/renderPreview.js"></script>
</html>