<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
  <link rel="stylesheet" href="./css/app.css">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <title>Hello from Electron renderer!</title>
</head>

<body class="p-4">
  <div class="container">
    <nav class="navbar">
      <div class="navbar-menu">
        <div class="navbar-start">
            <button id="open-template-editor" value="0" class="button is-success">New template</button>
        </div>
      </div>
    </nav>

    <div class="box">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Template</th>
            <th>Created at</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>template 1</td>
            <td>2023-04-19 16:33:18</td>
            <td>
                <button class="button is-small is-danger">Del</button>
                <button class="button is-small is-link">View</button>
            </td>
          </tr>
          <tr>
            <td>template 2</td>
            <td>2023-04-19 16:33:18</td>
            <td>
                <button class="button is-small is-danger">Del</button>
                <button class="button is-small is-link">View</button>
            </td>
          </tr>
          <tr>
            <td>template 3</td>
            <td>2023-04-19 16:33:18</td>
            <td>
                <button class="button is-small is-danger">Del</button>
                <button class="button is-small is-link">View</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
</div>
</body>
<script src="../controller/Templates/List/renderTemplatesList.js"></script>
</html>