<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
  <link rel="stylesheet" href="./css/app.css">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
</head>

<body class="p-4">
  <div class="container">

    <div class="field">
      <div class="control">
        <button id="open-template-editor" value="0" class="button is-success">New template</button>
      </div>
    </div>

    <div class="box">
      <table id="table" class="table is-fullwidth is-hidden">
        <thead>
          <tr>
            <th>Template</th>
            <th>Created at</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="table-body">
          
        </tbody>
      </table>

    </div>
</div>
</body>
<script src="../templating.js"></script>
<script src="../controller/Templates/List/renderTemplatesList.js"></script>
</html>