<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../css/app.css">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
</head>

<body>
  <div class="container">
    <section class="section">
        <div class="field">
            <label class="label">Client ID</label>
            <div class="control">
              <input id="app_id" class="input" type="text" placeholder="rxq73cjhtc4kvzoauon94bnhmgk3cz2h">
            </div>
          </div>
          <div class="field">
            <label class="label">Secret Key</label>
            <div class="control">
              <input id="app_secret" class="input" type="text" placeholder="bRcDj9EvRsixNxb9rNKvHSaYr4gVNa9K3zUtSk75">
            </div>
          </div>
          
        <div class="field level">
            <div class="control level-left">
                <button class="button is-link is-light">Cancel</button>
              </div>
  
            <div class="control level-right">
              <button id="confirm" class="button is-link">Confirm</button>
            </div>
          </div>
      </div>
    </section>
 <script src="../../controller/AskEnv/renderAskEnv.js"></script>
</body>

</html>