<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="./css/app.css">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <title>Hello from Electron renderer!</title>
</head>

<body>
  <div class="container">
    <section class="section">
        <h2 class="title">Sending evemail to 2 recipients</h2>
        <h3 class="subtitle">In progress</h3>
        <div class="box has-text-centered">
            <p class="mb-4"><b>1/2</b> Some character</p>
            <progress class="progress" value="15" max="100">15%</progress>
        </div>
        <div class="field level">
            <div class="control level-left">
                <button class="button is-link is-light">Cancel</button>
              </div>
  
            <div class="control level-right">
              <button class="button is-link">Stop</button>
            </div>
          </div>
    </section>

</body>

</html>