<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../css/app.css">
  <link rel="stylesheet" href="../css/custom.css">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
</head>

<body>
  <div class="container">
    <section class="section">
        <h2 id="title" class="title"></h2>
        <h3 id="status" class="subtitle">In progress</h3>
        <div class="box has-text-centered">
            <p id="label" class="mb-4"></p>
            <progress id="progress-bar" class="progress is-primary" value="" max=""></progress>
        </div>
        <div class="message is-dark is-small is-logger h-100">
            <div id="log" class="message-body is-logger-body">
                
            </div>
        </div>
        <div class="field level">
            <div class="control level-left">
                <button id="btn-cancel" class="button is-link is-light">Cancel</button>
              </div>
  
            <div class="control level-right">
              <button id="btn-stop" class="button is-link">Stop</button>
            </div>
          </div>
    </section>

</body>
<script src="../../templating.js"></script>
<script src="../../controller/SendMail/renderTaskProgress.js"></script>
</html>